.aboutMeBox {
    position: fixed;
    background: linear-gradient(to bottom, rgba(238, 238, 238, 0.95), rgba(255, 255, 255, 0.95));
    width: 90%;
    height: 90%;
    max-width: 600px;
    max-height: 85vh;
    border-radius: 10px;
    border: 2px solid darkgray;
    overflow: hidden;
    box-shadow: 5px 4px 6px 2px rgba(77, 75, 75, 0.3);
    color: black;
}

@media (max-width: 600px) {
  .aboutMeBox {
    width: 100vw;
    height: 90dvh;
    max-width: none;
    max-height: none;
    display: flex;
    flex-direction: column;
    top: 10% !important;
    left: 0 !important;
    right: 0 !important;
    bottom: auto !important;
    overflow-y: hidden;
    border-radius: 0;
    border: none;
  }

  .content {
    height: 100%; /* leave space for dragBar */
    overflow-y: auto;
    max-height: none !important;
    padding: 1rem;
  }
}

.dragBar {
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 0.5rem; /* smaller padding for thinner bar */
    height: 2.2rem; /* optional: set exact height */
    margin-right: 0.5rem;
    background-color: #303030;
    border-bottom: 2px solid darkgray;
    width: 100%;
    align-items: center;
    font-weight: bold;
    cursor: grab;
    color: white;
}

.title {
    margin-right: 1.2rem;
}

.closeBtn {
  font-size: 1.2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  transition: 0.2s ease-in-out;
}

.closeBtn:hover {
    transform: scale(1.1);
}

.content{
  flex: 1;
  max-height: 90%;
  overflow-y: auto;
  padding: 1rem 1.5rem;

  scrollbar-width: thin;
  scrollbar-color: darkgray white;
}

.content::-webkit-scrollbar-track {
  background: white;
  border-radius: 4px;
}

.content::-webkit-scrollbar-thumb:hover {
  background-color: black;
}

.closeIcon {
    width: 20px;
    height: 20px;
}

.profileHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    gap: 3rem;
}

.profileImage {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 1rem;
    border: 2px solid white;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #ccc; /* or white/gray depending on your theme */
    margin: 1.5rem 0;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0;
}

.profileName {
    font-size: 1.7rem;
    font-weight: bold;
    color: orange;
    margin-top: 0;
    margin-bottom: 0rem;
}

.profileRole {
    font-size: 1.2rem;
    font-weight: 300;
    color: black; /* lighter gray for contrast */
    margin-top: 0.5rem;
}

.upcomingRole {
    font-size: 1rem;
    color: black; /* lighter gray for contrast */
    margin-top: 0rem;
}


.companyLink {
    display: inline-block;
    font-size: inherit;
    color: orange;       /* same as surrounding text */
    font-weight: bold;
}

.companyLink:hover {
    color: rgb(255,190,0);
}

.bodyHeader{
    font-size: 1.3rem;
    font-weight: 700;
    color: black;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding: 0;
}

.educationPart {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    gap: 0.5rem;
    margin-bottom: 0;
    padding: 0;
    margin-top: 0;
    color: black;
}

.verticalBar {
    width: 4px;
    height: 5rem;
    background-color: gray;
    border-radius: 10px;
    margin-top: 4px;
}

.educationContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: black;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.educationTitle {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

.educationDetails {
    margin-top: 0;
    font-weight: 300;
}

.educationDate {
    color: gray;
    font-size: 0.8rem;
}

.interestsContainer {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    margin-top: 0;
}

.interestList {
    margin-top: 0.4rem;
    align-items: flex-start;
    justify-content: left;
    padding-left: 1rem;
    flex-direction: column;
    list-style-type: disc;
}

.interestList li {
    margin-bottom: 0.4rem;
    color: black;
    font-size: 0.9rem;
}

/* Animate popup */
@keyframes popupScaleIn {
  from {
    transform: scale(0.3);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animatePopup {
  animation: popupScaleIn 0.2s ease-out forwards;
}

/* closing animation */ 
@keyframes popupScaleOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.3);
    opacity: 0;
  }
}
.animatePopupOut {
  animation: popupScaleOut 0.2s ease-in forwards;
}

/* mobile animations */
@keyframes popupSlideIn {
  from {
    transform: translateY(100%);
    opacity: 1;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes popupSlideOut {
  from {
    transform: translateY(0%);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 1;
  }
}

.animatePopupMobile {
  animation: popupSlideIn 0.7s ease-in-out forwards;
}

.animatePopupOutMobile {
  animation: popupSlideOut 0.7s ease-in-out forwards;
}
